ul
  - if user_signed_in?
    li= link_to('Logout', destroy_user_session_path, :method => :delete)
    li= link_to('Active Admin dashboard', admin_dashboard_path)
  - else
    li= link_to('Login', new_user_session_path)